.button-back{
	font-weight: 700;
	text-transform: none;
	color: #961634;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	display: inline-block;

	border-width: 2px;
	border-color: #961634;
	border-style: solid;
	border-radius: 50px;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;

	margin-bottom: 13px;

	transition: 0.2 ease-out;
}

.button-back:hover {
	color: #fff;
	background-color: #961634;

}
.gosudarstvo{
	width: 611px;
	height: 344px;
}